.footer-email-subscription {
  background-color: #270949;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.footer-email-subscription .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin-bottom: 10px;
}

.text-container .title {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.text-container .subtitle { 
  color: rgb(189, 189, 189);
}

.footer-email-subscription .footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-form input {
  padding: 10px 10px;
  width: 320px;
  margin-right: 4px;
  border-radius: 2px;
  border: none;
}

.footer-form button {
  padding: 10px 20px;
  white-space: nowrap;
  background-color: #574366;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.last-subtitle {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
  color: rgb(189, 189, 189);
}

.last-subtitle a {
  text-decoration: underline;
  color: #574366;
}

footer .info {
  background-color: #574366;
  text-align: center;
  padding: 1.5rem;
}

#footer {
  margin-top: 100px;
  text-align: center;
  width: 100%;
}