:root {
  --purple-color: #270949;
  --black-color: #1a1a1a;
  --gray-color: #f4f4f4;
  --white-color: #fff;
  --titulo-font: "Varela Round", sans-serif;
}

.hero-section {
  background-image: url('../images/main/praia.jpg');
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-content {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
}

.hero-section .hero-text-container {
  text-align: left;
  margin-bottom: 50px;
}

.hero-text-container h1 {
  font-family: var(--titulo-font);
  font-size: 64px;
  font-weight: 800;
}

.hero-text-container h2 {
  font-size: 20px;
  font-weight: 400;
}

.hero-section .searchbox-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 183, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form-container input,
.form-container button {
  color: var(--black-color);
  cursor: pointer;
  max-width: 280px;
  min-width: 20;
  height: 52px;
  margin-top: 2px solid;
  border-radius: 10px;
  border: none;
  padding: 0px 30px;
  margin-right: 5px;
}

.form-container button {
  width: 160px;
  margin: 0;
  background-color: var(--purple-color);
  color: var(--white-color);
}

.searchbox-container .form-container {
  font-family: var(--titulo-font);
  color: var(--gray-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;  
}

.form-container .input-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-with-icon i {
  position: absolute;
  color: var(--gray-color);
  left: 10px;
}

.hero-section .promotion-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion-text i {
  margin-right: 3px;
}

.promotion-text h2 a {
  color: #0000FF;
  text-decoration: underline;
  cursor: pointer;
}

.form-container .date-container input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-container .date-container input:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-with-icon.plane {
  position: relative;
}

.plane i {
  position: absolute;
  color: black;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.plane-input {
  padding-left: 35px;
}

@media (max-width: 813px) {
  .hero-section .form-container {
    flex-direction: column;
  }
  .form-container .date-container {
    flex-direction: column;
  }
  .date-container input,
  .form-container button  {
    width: 100%;
    padding: 0px 50px;
  }
  .form-container button {
    padding: 0 50px;
  }
  .form-container .date-container input:first-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .form-container .date-container input:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  marquee {
    display: none;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #main {
    text-align: left;
    margin-left: 50px;
  }
}